# GEMINI_API_KEY: Required for Gemini AI API calls.
GEMINI_API_KEY="MY_GEMINI_API_KEY"

# APP_URL: The URL where this applet is hosted.
APP_URL="MY_APP_URL"

# MongoDB Database Connection String
MONGODB_URI="mongodb+srv://naveed124777:Naveed%400788@cluster0.dgcnw4s.mongodb.net/clinic?retryWrites=true&w=majority&appName=Cluster0"

# Cloudinary Credentials for Doctor & Disease Image Uploads
CLOUDINARY_CLOUD_NAME="121983961399577"
CLOUDINARY_API_KEY="121983961399577"
CLOUDINARY_API_SECRET="Z7gEfW736NQlcGAYR4CiTEWxPYE"

# JWT Secret Key for Patient, Doctor, and Admin Authentication
JWT_SECRET="hafiz_clinic_jwt_secret_2026"
